@charset "UTF-8";
/*<-- Color gradiente para bordes y fondos |fail/corregir| */
/* Map de colores de redes sociales*/
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slidein {
  from {
    margin-left: 100%;
    /*<-- Animación de slidein */
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes anim_pulso {
  0%, 50%, 100% {
    transform: scale(1, 1);
  }
  /*<-- Animación de pulso */
  30%, 80% {
    transform: scale(0.95, 0.92);
  }
}
* {
  margin: 0;
  padding: 0;
}

/*<-- Header -->*/
.bloque-header {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border-bottom: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.header {
  background: linear-gradient(to top, #d53a9d, #090b21);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 20rem;
}

.header__icono {
  height: 60px;
  animation: anim_pulso 2s infinite;
  animation-play-state: running;
}

.header__titulo {
  font-size: 13px;
  color: gold;
  animation: anim_pulso 2s infinite;
  animation-play-state: running;
  text-shadow: 5px 5px 5px black;
}

.menuDesplegable a:hover {
  cursor: pointer;
  transform: translateY(-3px);
  transition: all 0.3s ease-out;
  border-radius: 5px;
  font-size: 20px;
}
.menuDesplegable a:hover .header__titulo {
  font-size: 15px;
}
.menuDesplegable ul {
  display: none;
}
.menuDesplegable input:checked ~ ul {
  display: inline;
  z-index: 1;
  animation-duration: 0.5s;
  animation-name: fadein;
}
.menuDesplegable input {
  display: none;
}
.menuDesplegable label {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid silver;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  user-select: none;
}
.menuDesplegable li {
  display: block;
  background: linear-gradient(to left, #743ad5, #d53a9d);
  margin: 0;
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid silver;
}
.menuDesplegable label:hover {
  transition: all 0.6s ease-out;
  border-radius: 5px;
  font-size: 30px;
}

/*<-- Header -->*/
/*<-- Estructura general -->*/
.TituloPC h1 {
  padding-top: 100px;
  color: gold;
}

.bodyEstructura {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 35rem auto auto auto auto auto auto;
  grid-gap: 15rem;
  grid-template-areas: "portada portada portada" "publi publi publi" "serv serv serv" "main main main" "main main main" "pres pres pres" "footer footer footer";
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  justify-items: stretch;
}

.bodyEstructura__texto {
  background-image: url("../media/fondo.png");
  background-size: 80%;
  background-color: #090b21;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: silver;
  font-family: "Farro", sans-serif;
  text-align: center;
  padding-top: 70px;
  text-shadow: 2px 2px 2px black;
}
.bodyEstructura__texto a {
  text-decoration: none;
  color: gold;
}

.bodyEstructura__box1 {
  grid-area: portada;
  background-image: url("../media/portada.jpg");
  background-size: cover;
  text-shadow: 5px 5px 5px black;
}
.bodyEstructura__box1 h2 {
  color: gold;
  padding-top: 12rem;
}

.bodyEstructura__box2 {
  grid-area: publi;
}
.bodyEstructura__box2 img {
  width: 12rem;
  animation-duration: 2s;
  animation-name: fadein;
}

.bodyEstructura__box3 {
  padding: 10px;
  grid-area: pres;
}
.bodyEstructura__box3 img {
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  width: 80%;
  padding: 5px;
}

.bodyEstructura__box4 {
  padding: 10px;
  grid-area: footer;
  padding-bottom: 20px;
}

.bodyEstructura__box5 {
  grid-area: main;
  padding: 10px;
}

.bodyEstructura__box6 {
  grid-area: serv;
}
.bodyEstructura__box6 img {
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  width: 14rem;
}
.bodyEstructura__box6 h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.redes {
  padding-top: 50px;
}
.redes a:hover {
  transition: all 0.6s ease-out;
  border-radius: 5px;
  font-size: 25px;
}
.redes #facebook:hover {
  color: #3b5998;
}
.redes #twitter:hover {
  color: #1DA1F2;
}
.redes #instagram:hover {
  color: #FD1D1D;
}

.botonFlotante {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 80px;
}

.infoNosotros {
  font-size: 25px;
  height: 20rem;
  max-width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  animation-duration: 4s;
  animation-name: slidein;
}
.infoNosotros h2 {
  animation-duration: 5s;
  animation-name: slidein;
}

.novedades {
  display: inline-block;
  width: 95%;
  border-radius: 10px;
}
.novedades h3 {
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
  color: gold;
}

.novedades__Entradas {
  display: block;
  background-color: #590242;
  height: auto;
  max-width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 5px;
}
.novedades__Entradas h1 {
  color: gold;
  text-align: center;
}

/*<-- Estructura general -->*/
/*<-- Formulario de contacto -->*/
.content {
  padding-bottom: 150px;
  animation-duration: 2s;
  animation-name: fadein;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.container ul {
  list-style: none;
  padding: 0;
}

.logo {
  padding-top: 150px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 2em;
}
.logo span {
  color: gold;
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background: #222222;
}
.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-form form label {
  display: block;
}
.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1/3;
}

.contact-form form .botonForm,
.contact-form form input,
.contact-form form textarea {
  text-shadow: none;
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #d53a9d;
}

.contact-form form .botonForm {
  background: #d53a9d;
  border: 0;
  padding: 1em;
}

.contact-form form .botonForm:hover,
.contact-form form .botonForm:focus {
  background: gold;
  color: black;
  transition: background-color 0.5s ease-out;
  outline: 0;
}

.contact-info {
  background: #000;
}
.contact-info ul li {
  list-style-type: none;
}

.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

@media (min-width: 700px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .contact-wrapper > * {
    padding: 2em;
  }

  .contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: left;
  }
}
/*<-- Fin Formulario de contacto -->*/
/*Inicio Seccion Tabla combos*/
.tablaDeCombos {
  display: block;
  width: 80%;
  padding-left: 20px;
}

.tablaDeCombos__Columna {
  background-color: #590242;
  width: 16rem;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #ddd;
  margin: 10px;
}

.tablaDeCombos__ColumnaHeader {
  background-color: #090b21;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.tablaDeCombos__ColumnaHeader h3 {
  color: silver;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}
.tablaDeCombos__ColumnaHeader p {
  text-align: center;
  color: #f3f3f3;
  font-size: 14px;
  margin-bottom: 0;
}

.tablaDeCombos__ColumnaCaracteristicas {
  padding: 0 10px 10px;
  color: gold;
  font-size: 20px;
}
.tablaDeCombos__ColumnaCaracteristicas p {
  padding: 10px 0;
  margin: 0;
  text-align: center;
  border-top: 1px solid #ddd;
  font-size: 14px;
}

.tablaDeCombos__BtnCompra {
  padding: 5px;
  max-width: 60%;
  text-align: center;
  background-color: #090b21;
  margin: 0 auto 20px;
  border-radius: 10px;
  border: 2px solid silver;
  transition: all 0.3s;
  text-shadow: none;
}
.tablaDeCombos__BtnCompra a {
  color: #f3f3f3;
  font-size: 15px;
  transition: all 0.3s;
}

.tablaDeCombos__BtnCompra:hover {
  background-color: gold;
  transition: all 0.3s;
  border: 2px solid silver;
}

.tablaDeCombos__BtnCompra:hover a {
  color: black;
  transition: all 0.3s;
}

/*Fin Seccion Tabla combos*/
/*Inicio Seccion productos*/
.containerProd {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 50px 20rem 20rem;
  grid-gap: 5px;
  padding: 5px;
  animation-duration: 3s;
  animation-name: fadein;
  padding: 50px 10px;
}

.gridProductosItems {
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  background-color: #02619473;
}

.gridProductosItems:first-child {
  grid-column: 1/3;
  background-color: #203844ad;
  font-size: 1rem;
  padding: 5px;
}

.gridProductosItems:first-child ul li {
  list-style: none;
  padding-top: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px violet;
}

.gridProductosItems:first-child ul li a {
  text-decoration: none;
  color: gold;
}

.gridProductosItems:nth-child(2) {
  grid-column: 1/3;
  background-color: #203844ad;
  align-self: center;
}

/*Fin Seccion productos*/
/*<-- Inicio seccion tarjetas productos -->*/
.tarjetaProd {
  padding-bottom: 5px;
  color: gold;
}

.tarjetaProd__Imagen {
  padding-top: 10px;
}
.tarjetaProd__Imagen img {
  width: 150px;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 4px;
  border-image-source: linear-gradient(to right, #aa076b, #61045f);
}

.tarjetaProd__Titulo {
  padding-top: 5px;
  padding-bottom: 10px;
}

.tarjetaProd__precio {
  padding-bottom: 15px;
  color: silver;
  font-size: 1.5rem;
}

.tarjetaProd__Btn {
  transition: all 0.3s;
  padding-bottom: 5px;
}
.tarjetaProd__Btn a {
  background-color: #090b21;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid silver;
  transition: all 0.3s;
}

.tarjetaProd__Btn a:hover {
  background-color: gold;
  transition: all 0.3s;
  color: black;
}

.InfoProd a {
  color: white !important;
}

.InfoProd a:hover {
  transition: all 0.6s ease-out;
  font-size: 20px;
}

/*<-- Fin seccion tarjetas productos -->*/
/*<-- Inicio seccion modal  -->*/
.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog img {
  width: 5rem;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 15rem;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #212337;
  transition: opacity 400ms ease-in;
}
.modalDialog > div p {
  color: silver;
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  border-radius: 12px;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #00d9ff;
}

/*<-- Fin seccion modal  -->*/
/*<-- Inicio MediaQueries -->*/
@media only screen and (min-width: 375px) {
  .header {
    width: 25rem;
  }

  .tablaDeCombos__Columna {
    width: 80%;
    margin-bottom: 50px;
  }

  .bodyEstructura {
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 35rem auto auto auto auto auto auto;
    grid-template-areas: "portada portada portada" "publi publi publi" "serv serv serv" "main main main" "main main main" "pres pres pres" "footer footer footer";
    grid-gap: 15rem;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }

  .bodyEstructura__box3 img {
    width: 80%;
  }
}
@media only screen and (min-width: 425px) {
  .bloque-header {
    justify-content: left;
  }

  .header__icono {
    height: 120px;
  }

  .header {
    width: 40rem;
  }

  .bodyEstructura {
    grid-template-columns: auto auto auto;
    grid-template-rows: 30rem auto auto auto auto auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    justify-items: stretch;
    padding-top: 3.9rem;
  }

  .bodyEstructura__box1 {
    padding-top: 7rem;
    font-size: 25px;
    background-size: cover;
    text-align: center;
  }
  .bodyEstructura__box1 h2 {
    padding-top: 30px;
  }

  .bodyEstructura__box2 img {
    width: 18rem;
  }

  .bodyEstructura__box3 img {
    width: 80%;
  }

  .bodyEstructura__box6 {
    width: 40rem;
  }
  .bodyEstructura__box6 img {
    width: 24rem;
  }

  .tablaDeCombos__Columna {
    width: 80%;
  }

  .menuDesplegable label {
    width: 50px;
  }
}
@media only screen and (min-width: 768px) {
  .bodyEstructura__texto {
    padding-top: 130px;
  }

  .header {
    width: 50rem;
  }

  .bloque-header {
    justify-content: space-around;
    align-items: center;
  }

  .header__icono {
    height: 180px;
    animation: anim_pulso 2s infinite;
    animation-play-state: running;
  }

  .header__titulo {
    font-size: 40px;
  }

  .menuDesplegable a:hover {
    font-size: 40px;
  }
  .menuDesplegable label {
    width: 100px;
  }

  .bodyEstructura {
    grid-template-columns: auto auto auto;
    grid-template-rows: 50rem auto auto auto auto auto auto;
    grid-template-areas: "portada portada portada" "publi publi publi" "serv serv serv" "main main main" "main main main" "pres pres pres" "footer footer footer";
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }

  .bodyEstructura__box1 {
    padding-top: 15rem;
    text-align: center;
  }
  .bodyEstructura__box1 h2 {
    color: gold;
    padding-top: 10px;
  }

  .bodyEstructura__box2 img {
    width: 16rem;
  }

  .bodyEstructura__box3 img {
    width: 80%;
  }

  .bodyEstructura__box6 {
    width: 80%;
  }
  .bodyEstructura__box6 img {
    width: 23rem;
  }

  .tablaDeCombos {
    display: inline-flex;
    width: 80%;
  }

  .tablaDeCombos__Columna {
    width: 80%;
  }

  .containerProd {
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5% 1fr 1fr 1fr;
    grid-gap: 5px;
    padding: 5px;
    animation-duration: 3s;
    animation-name: fadein;
    padding: 50px 10px;
  }

  .gridProductosItems {
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    background-color: #02619473;
  }

  .gridProductosItems:first-child {
    grid-row: 1/5;
    grid-column: 1/2;
    background-color: #203844ad;
    font-size: 1rem;
    padding: 5px;
  }

  .gridProductosItems:first-child ul li a {
    text-decoration: none;
    color: gold;
  }

  .gridProductosItems:nth-child(2) {
    grid-column: 2/5;
    font-size: 20px;
    color: gold;
    padding: 10px;
  }

  .tarjetaProd__Imagen img {
    width: 15rem;
  }

  .modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }
  .modalDialog img {
    width: 5rem;
  }

  .modalDialog:target {
    opacity: 1;
    pointer-events: auto;
  }

  .modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #212337;
    transition: opacity 400ms ease-in;
  }
  .modalDialog > div p {
    color: silver;
  }

  .close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
  }
}
@media only screen and (min-width: 1024px) {
  .menuDesplegable a:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: all 0.3s ease-out;
    border-radius: 5px;
    font-size: 20px;
  }
  .menuDesplegable input:checked ~ ul {
    display: inline;
    z-index: 1;
    animation-duration: 0.5s;
    animation-name: fadein;
  }
  .menuDesplegable input {
    display: none;
  }
  .menuDesplegable label {
    box-sizing: border-box;
    display: block;
    border: 1px solid silver;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
  }
  .menuDesplegable li {
    display: block;
    background: linear-gradient(to left, #743ad5, #d53a9d);
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid silver;
  }
  .menuDesplegable label:hover {
    transition: all 0.6s ease-out;
    border-radius: 5px;
    font-size: 30px;
  }

  .bodyEstructura {
    grid-template-columns: auto auto auto;
    grid-template-rows: 50rem auto auto auto auto auto auto;
    grid-template-areas: "portada portada portada" "publi publi publi" "serv serv serv" "main main main" "main main main" "pres pres pres" "footer footer footer";
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }

  .bodyEstructura__box1 {
    font-size: 40px;
    background-size: cover;
    text-align: center;
  }
  .bodyEstructura__box1 h2 {
    color: gold;
    padding-top: 10px;
    text-shadow: 5px 5px 5px black;
  }

  .bodyEstructura__box2 img {
    width: 16rem;
    padding: 10px;
  }

  .bodyEstructura__box3 img {
    width: 45em;
    height: 30em;
  }

  .bodyEstructura__box6 {
    width: 100%;
  }
  .bodyEstructura__box6 img {
    width: 30rem;
  }
  .bodyEstructura__box6 .tablaDeCombos__Columna {
    width: 60%;
  }

  .header__icono {
    height: 80px;
  }

  .header {
    width: 82rem;
  }

  .header__titulo {
    font-size: 30px;
  }

  .bodyEstructura__texto {
    padding-top: 0px;
  }

  .tablaDeCombos {
    margin-top: 10px;
  }

  .tablaDeCombos__Columna {
    width: 40%;
  }

  .tablaDeCombos__BtnCompra {
    text-align: center;
    background-color: #090b21;
    border-radius: 10px;
    border: 2px solid silver;
    transition: all 0.3s a;
    transition-color: #f3f3f3;
    transition-padding: 10px;
    transition-font-size: 20px;
    transition-text-transform: uppercase;
    transition-transition: all 0.3s;
  }

  .tablaDeCombos__BtnCompra:hover {
    background-color: gold;
    transition: all 0.3s;
    border: 2px solid silver;
  }

  .tablaDeCombos__BtnCompra:hover a {
    color: black;
    transition: all 0.3s;
  }
}
/*<-- Fin MediaQueries -->*/

/*# sourceMappingURL=estilos.css.map */
