
$color-grad:linear-gradient(to left, #743ad5, #d53a9d); /*<-- Color gradiente para bordes y fondos |fail/corregir| */

$coloresRedes: (colorFacebook: #3b5998, colorTwitter: #1DA1F2, colorInstagram: #FD1D1D); /* Map de colores de redes sociales*/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slidein {
  from {
    margin-left: 100%;								/*<-- Animación de slidein */
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes anim_pulso {
	0%, 50%, 100% { transform: scale(1, 1); }	/*<-- Animación de pulso */
	30%, 80% { transform: scale(0.95, 0.92); 
	}
}

*{
   margin:0;
   padding:0;
}
																/*<-- Header -->*/
.bloque-header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 5px solid;
	border-top:0;
	border-left:0;
	border-right:0;
	border-image-slice: 1;
	border-image-source: $color-grad;
}
.header{
	background: linear-gradient(to top, #d53a9d, #090b21);
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
}
.header__icono{
	height: 60px;
	animation: anim_pulso 2s infinite;
	animation-play-state: running;
}
.header__titulo{
	font-size: 20px;
	color: gold;
	animation: anim_pulso 2s infinite;
	animation-play-state: running;
}

.menuDesplegable {
	a:hover{
		cursor: pointer;
		transform: translateY(-3px);
		transition: all 0.3s ease-out;
		border-radius: 5px;
		font-size: 20px;

	}
	ul{
	  display: none;
	}
	input:checked  ~ ul{
	  display:block;
	  z-index: 1;
	}
	input {
	  display: none;
	}

	label {
		box-sizing: border-box;
		display: inline-block;
		border: 1px solid silver;
		border-radius: 5px;
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-weight: bold;
		text-align: center;
		user-select: none;
	}
	li {
		display: block;
		background: $color-grad;
		margin: 0;
		padding: 10px;
		list-style: none;
		border-bottom: 1px solid silver;
	}
	label:hover{
		transition: all 0.6s ease-out;
		border-radius: 5px;
		font-size: 30px;
	}
}
													/*<-- Header -->*/

													/*<-- Estructura general -->*/
.bodyEstructura {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 2fr auto auto auto auto auto;
    grid-gap:1rem;
    grid-template-areas: "portada portada portada"
    					 "publi publi publi"
    					 "main main main"
    					 "main main main"
    					 "pres pres pres"
    					 "footer footer footer";
   grid-row-gap: 10px;
   grid-column-gap: 10px;
   justify-items: stretch;
}
.bodyEstructura__texto {
	background-image: url("../media/fondo.png");
	background-size: 80%;
	background-color: #090b21;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	color: silver;
	font-family: 'Farro', sans-serif;
	text-align: center;
   padding-top: 100px;
   a {
   	text-decoration: none;
		color: gold;
   }
}
.bodyEstructura__box1 { 
	grid-area: portada;
	background-image: url("../media/portada.jpg");
}
.bodyEstructura__box2 {
	grid-area: publi;
	img {
		border: 1px solid;
		border-image-slice: 1;
		border-image-source: $color-grad;
		width: 39%;
		background-color:#090b21;
		animation-duration: 2s;
  		animation-name: fadein;
	}
}
.bodyEstructura__box3 {
	padding:10px;
	grid-area: pres;
	img {
		border: 1px solid;
		border-image-slice: 1;
		border-image-source: $color-grad;
		width: 70%;
		padding: 5px;
	}
}
.bodyEstructura__box4 {
	padding:10px;
	grid-area: footer;
	padding-bottom: 20px;
}
.bodyEstructura__box5 {
	padding:10px;
	grid-area: main;
}
												/*<-- Estructura general -->*/


												/*<-- MediaQueries -->*/
@media only screen and (max-width: 375px) {
	.tablaDeCombos__Columna{
	 width:80%;
	 height: 60%;
	 max-width:300px;
	 margin-bottom:50px;
	}
}
@media only screen and (min-width: 375px) {
	.bodyEstructura {
	   grid-template-columns: auto auto auto;
	   grid-template-rows: auto auto auto auto auto auto;
	   grid-row-gap: 10px;
   	grid-column-gap: 10px;
	}
	.bodyEstructura__box3 img {
		border-image-slice: 1;
		border-image-source: $color-grad;
		width: 40%;
	}
}
@media only screen and (min-width: 425px) {
	.bodyEstructura {
	   grid-template-columns: auto auto auto;
	   grid-template-rows: auto auto auto auto auto auto;
	   grid-row-gap: 10px;
		grid-column-gap: 10px;
	}
	.bodyEstructura__box3 img {
		width: 35%;
	}
	.tablaDeCombos__Columna {
	 width:32%;
	 float:left;
	 margin-right:2%
	 }
}
@media only screen and (min-width: 768px) {
	.bodyEstructura {
	   grid-template-columns: auto auto auto;
	   grid-template-rows: 50rem auto auto auto auto auto;
	   grid-row-gap: 10px;
   	grid-column-gap: 10px;
	}
	.bodyEstructura__box2 img {
		width: 23%;
	}
	.bodyEstructura__box3 img {
		width: 50%;
	}
	.tablaDeCombos__Columna {
		width:32%;
		float:left;
		margin-right:2%
	 }
}
@media only screen and (min-width: 1024px) {
   .bodyEstructura {
	   grid-template-columns: auto auto auto;
	   grid-template-rows: 40rem auto auto auto auto auto;
	   grid-template-areas:
	   					 "portada portada portada"
    					 "publi publi publi"
    					 "main main main"
    					 "main main main"
    					 "pres pres pres"
    					 "footer footer footer";
    	grid-row-gap: 10px;
   		grid-column-gap: 10px;
   }
   .bodyEstructura__box1 {
		font-size: 40px;
		padding:0;
		background-size: cover;
		h2 {
			color:gold;
			padding-top:10px;
		}
		text-align: center;
	}
	.bodyEstructura__box2 img {
		width: 300px;
		height: 250px;
		padding:10px;
	}
	.bodyEstructura__box3 img {
		width: 45em;
		height: 30em;
	}
	.header__icono{
		height: 100px;
		animation: anim_pulso 2s infinite;
		animation-play-state: running;
	}
	.header__titulo{
		font-size: 30px;
		animation: anim_pulso 2s infinite;
		animation-play-state: running;
	}
	.bodyEstructura__texto{
		padding-top: 100px;
	}
	 .tablaDeCombos__Columna {
		width:32%;
		float:left;
		margin-right:2%
	 }
	 .tablaDeCombos__Columna:last-child {
	 	margin-right:0
	 }
	.menuDesplegable {
		a:hover{
			cursor: pointer;
			transform: translateY(-3px);
			transition: all 0.3s ease-out;
			border-radius: 5px;
			font-size: 20px;
		}
		ul{
		  display: none;
		}
		input:checked  ~ ul{
			display:inline;
			z-index: 1;
			animation-duration: 0.5s;
  			animation-name: fadein;
		}
		li {
			display: inline;
		}
		label {
			box-sizing: border-box;
			border: 1px solid silver;
			border-radius: 5px;
			width: 30px;
			height: 30px;
			line-height: 20px;
			font-weight: bold;
			text-align: center;
			user-select: none;
		}
	}
}


												/*<-- MediaQueries -->*/

											/*<-- Formulario de contacto -->*/
.contenedorForm {
	align-content: center;
	margin-left: 10px;
	border-radius: 7px;
	padding-left: 20px;
	padding-right: 20px;
	width: 80%;
	border: 1px solid;
	border-image-slice: 1;
	border-image-source: $color-grad;
	animation-duration: 2s;
  	animation-name: slidein;
	h2 {
		font-size: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
.boton {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 80%;
	height: 30px;
	font-family:'Farro', sans-serif;
	border: none;
	border-radius: 10px;
	background: $color-grad;
	color: silver;
}
.boton:hover{
	cursor: pointer;
	transform: translateY(-3px);
	transition: all 0.3s ease-out;
}
.boton:active {
	transform: translateX(3px);
	transition: all 0.3s ease-out;
}
.controlForm {
	width: 80%;
	box-shadow: -5px 1px 2px #590242;
	font-size: 15px;
	margin: 10px 10px 10px 10px;
	font-family:'Farro', sans-serif;
	border: 1px solid;
	border-image-slice: 1;
	border-image-source: $color-grad;
}
.controlForm:focus{
	height: 30px;
}
#mensaje:focus{
	height: 100px;
}

											/*<-- Formulario de contacto -->*/
.redes {
	padding-top:50px;
	a:hover{
		transition: all 0.6s ease-out;
		border-radius: 5px;
		font-size: 25px;
	}
	#facebook:hover{
		color: map-get($coloresRedes, colorFacebook);
	}
	#twitter:hover{
		color: map-get($coloresRedes, colorTwitter);
	}
	#instagram:hover{
		color: map-get($coloresRedes, colorInstagram);
	}
}
.botonFlotante {
	position:fixed;
	bottom:0px;
   right:0px;
	width: 80px;
}
.infoNosotros{
	font-size: 25px;
	height: 20rem;
	max-width:100%;
	margin-right: 10px;
	margin-left: 10px;
	animation-duration: 4s;
  	animation-name: slidein;
	h2{
		animation-duration: 5s;
  		animation-name: slidein;
	}
}

.novedades{
	display:inline-block;
	width:95%;
	border-radius: 10px;
	h3 {
		font-size: 20px;
		text-align:center;
		padding-bottom: 10px;
		color: gold;
	}
}
.novedades__Entradas{
	display:block;
	background-color:#590242;
	text-align:left;
	height: auto;
	max-width:100%;
	margin-top:50px;
	margin-bottom:50px;
	padding: 5px;
	h1 {
		color:gold;
	}
}

													/*Inicio Seccion Tabla combos*/

.tablaDeCombos {
	 display:inline-block;
	 width:100%;
	 margin-top:10px;
}

.tablaDeCombos__Columna{
	 display:inline-block;
	 background-color:#590242;
	 width:32%;
	 height: 80%;
	 max-width:500px;
	 border-radius:10px;
	 box-shadow: 0px 2px 5px #ddd
}
.tablaDeCombos__ColumnaHeader {
	 background-color:#090b21;
	 padding:10px;
	 border-top-left-radius:10px;
	 border-top-right-radius:10px
	 h3 {
		color:silver;
		text-align:center;
		font-size:30px;
		font-weight:600;
		margin-bottom:0
	}
	p {
		text-align:center;
		color:#f3f3f3;
		font-size:14px;
		margin-bottom:0
	}
}

.tablaDeCombos__ColumnaCaracteristicas {
	padding: 0 20px 20px 20px;
	color: gold;
	p {
		padding:10px 0;
		margin:0;
		text-align:left;
		border-top:1px solid #ddd;
	}
}

.tablaDeCombos__BtnCompra {
	padding:10px;
	max-width:250px;
	text-align:center;
	background-color: #090b21;
	margin: 0 auto 20px;
	border-radius:10px;
	border: 2px solid silver;
	transition: all 0.3s
	a {
		color:#f3f3f3;
		padding:10px;
		font-size:20px;
		text-transform:uppercase;
		transition: all 0.3s
	}
}
.tablaDeCombos__BtnCompra:hover {
	background-color:#f3f3f3;
	transition: all 0.3s
}
.tablaDeCombos__BtnCompra:hover a {
	color:#dd9933;
	transition: all 0.3s
}
													/*Fin Seccion Tabla combos*/

													/*Inicio Seccion productos*/
.containerProd {
	display: grid;
	grid-template-columns: 0.7fr 1fr 1fr 1fr;
	grid-template-rows: 50px 150px 150px 150px;
	grid-gap: 10px;
	padding: 15px;
	animation-duration: 3s;
  	animation-name: slidein;
}
.gridProductosItems{
	border: 1px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
	background-color: #02619473;
	color: gold;
}
.gridProductosItems:first-child{
	grid-row: 1 / 5;
	background-color: #203844ad;
	font-size: 20px;
	padding: 5px;
}
.gridProductosItems:first-child ul li {
	list-style: none;
	padding-top: 15px;
	border-radius:10px;
	margin-bottom:10px;
	box-shadow: 0px 2px 1px silver;
}
.gridProductosItems:first-child ul li a {
	text-decoration: none;
	color: gold;
}
.gridProductosItems:nth-child(2){
	grid-column: 2 / 5;
	background-color: #203844ad;
}
												/*Seccion productos*/